<title> Expediente {{nombreUsuario()}}</title>
<div class="main-container">
  <div class="form-container" >

  <!-- Info del usuario -->
  <div style="display: flex; gap: 10px;">
    <div style="flex: 1; padding: 10px;">
      <div class="image-container" (mouseover)="showIcon = true" (mouseleave)="showIcon = false">
        <img [src]="fotoUrl || 'assets/default.jpg'" alt="Imagen de perfil" class="profile-image" />

        <div *ngIf="showIcon && editando" class="edit-icon" (click)="fileInputFoto.click()">🖊️</div>
        <input
        type="file"
        #fileInputFoto
        hidden
        accept="image/*"
        (change)="onFotoSeleccionada($event)"
        [disabled]="!editando"
      />
      
      </div>
    </div>
    <div style="flex: 1; padding: 1px;  border-radius: 20px;">
      <div>
        <br> <br>
        <h2>Mi Expediente</h2>
      </div>
    <div style="flex: 2; padding: 1px; text-align: center;">
      <h1>{{ nombreUsuario()}}</h1>
      <img src="/images/logoutrng.png">
    </div>
    </div>
  </div>

  <!-- Documentos -->
<!-- Documentos nuevos -->
<div *ngFor="let doc of nuevosDocumentos; let i = index" style="display: flex; gap: 10px; align-items: center;">
  <input
    class="inputT"
    placeholder="Tipo de documento"
    [(ngModel)]="doc.nombre"
    name="nuevoNombreDoc{{ i }}"
  />
  <input
    type="file"
    (change)="onArchivoSeleccionado($event, i)"
  />
  <button (click)="eliminarNuevoDocumento(i)" style="width: auto;">❌</button>
</div>

<!-- Documentos subidos previamente -->
<div *ngIf="documentos.length > 0" style="margin-top: 20px;">
  <h3>Documentos subidos</h3>
  <div *ngFor="let doc of documentos" class="documento-item">
    <span class="documento-nombre">📄 {{ doc.documento }}</span>
    <div class="acciones-documento">
      <a [href]="getUrlDocumento(doc)" target="_blank" class="btn-ver">Ver 👁️</a>
      <button *ngIf="editando" (click)="eliminarDocumento(doc.id)" class="btn-eliminar"> ❌ Eliminar</button>
    </div>
  </div>
</div>


  <button *ngIf="editando" (click)="agregarDocumento()">➕ Agregar documento</button>

  <!-- Botones principales -->
 <!-- Botones principales -->
<div style="margin-top: 20px;">
  <button *ngIf="!editando" (click)="toggleEditar()">Editar expediente</button>

  <div *ngIf="editando" style="display: flex; gap: 10px;">
    <button (click)="subirDocumentos()" [disabled]="nuevosDocumentos.length === 0 && !fotoSeleccionada">Guardar expediente</button>
    <button (click)="cancelarEdicion()">Cancelar</button>
  </div>
</div>

</div>
</div>