<title>Inicio - Director</title>

<body>
  <div class="form-container">
    <div class="logo-container">
    <img src="/images/logoutrng.png" width="120px">
    <img src="/images/Logo.jpg" width="180px" style="border-radius: 10px;">

  </div>
  <h1>Inicio - Director</h1>
      <p> </p>

    <!-- Tabla de Autorizaciones-->
    <h2>Autorizaciones de salida | Hoy</h2>

    <app-tabla-salidas-hoy-dir> </app-tabla-salidas-hoy-dir>

    <p> </p>

    <!-- Tabla de Incidencias-->
    <h2>Incidencias | Hoy</h2>

    <app-tabla-incidencias-hoy-dir> </app-tabla-incidencias-hoy-dir>
    <p> </p>
    <!-- Footer-->
    <app-footer> </app-footer>
  </div>
</body>