<mat-toolbar>
    <span class="example-spacer"></span>
    <h1 style="font-family: 'Times New Roman', Times, serif; font: size 50px;;"> 🟢  Bienvenido(a) <strong> {{nombreUsuario()}}!</strong></h1>
  

  
  <!-- Botón de Notificaciones -->
 <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" aria-label="Notificaciones">
  <span class="notification-wrapper">
    <mat-icon>notifications</mat-icon>
    <span *ngIf="notificaciones.length > 0" class="notification-badge">
      {{ notificaciones.length > 9 ? '9+' : notificaciones.length }}
    </span>
  </span>
</button>

  
  <!-- Menú de Notificaciones -->
  <mat-menu #notificationsMenu="matMenu">
    <ng-container *ngIf="notificaciones.length > 0; else noNotifications" class="notificaciones-usuario">
      <button mat-menu-item *ngFor="let noti of notificaciones" (click)="irAVista(noti)">
        <mat-icon>message</mat-icon>
        <span>{{ noti.mensaje }}</span>
      </button>
      
    </ng-container>
    
    <ng-template #noNotifications>
      <button mat-menu-item disabled>
        <span>No hay notificaciones</span>
      </button>
    </ng-template>
  </mat-menu>
  
  
  
  
    <!-- Botón de Usuario -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Usuario">
      <mat-icon>person</mat-icon>
    </button>
  
    <!-- Menú de Usuario -->
    <mat-menu #userMenu="matMenu" >
      <button mat-menu-item (click)="editUser()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Editar Perfil</span>
      </button>
  
     
      <button mat-menu-item (click)="help()">
        <mat-icon>help</mat-icon>
        <span>Ayuda</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon >exit_to_app</mat-icon>
        <span >Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>
    