
<title>Generar Incidencia </title>

<body>
    <div class="form-container">
      <h2>Generar Incidencia</h2>
      <form (ngSubmit)="submitForm()">

        <p> </p>

        <label>Nombre del Trabajador</label>
            <select [(ngModel)]="incidencia.usuarioId" name="usuarioId" required>
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                {{ usuario.nombre }} {{ usuario.apellidoP }} {{ usuario.apellidoM }}
            </option>
            </select>
        
  
        <label>Área de Trabajo</label>
        <select [(ngModel)]="incidencia.areaId" name="areaId" required>
          <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
        </select>
  
        <label>Categoría</label>
        <select [(ngModel)]="incidencia.categoriaId" name="categoriaId" required>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
        </select>
        
        <p> </p>
  
        <label>Fecha de Movimiento</label>
        <div style="display: flex; gap: 10px;">
          <div style="flex: 1; padding: 10px;">
            <label>Del:</label>
            <input type="date" [(ngModel)]="incidencia.fechaInicio" name="fechaInicio" required>
          </div>
          <div style="flex: 1; padding: 10px;">
            <label>Al:</label>
            <input type="date" [(ngModel)]="incidencia.fechaFin" name="fechaFin" required>
          </div>
        </div>

        <p> </p>
  
        <label>Motivo / Se Autoriza a:</label>
        <select [(ngModel)]="incidencia.motivoId" name="motivoId" required>
          <option *ngFor="let motivo of motivos" [value]="motivo.id">{{ motivo.nombre }}</option>
        </select>
  
        <label>Descripción</label>
        <input type="text" [(ngModel)]="incidencia.descripcion" name="descripcion" required>
  
        <label>Fecha</label>
        <input class="inputT" type="date" [(ngModel)]="fechaHoy" name="fecha" disabled>
  
        

        <div style="display: flex; gap: 10px;">
            <div style="flex: 1; padding: 10px;">
                <button type="submit">Generar</button>
            </div>
            <div style="flex: 1; padding: 10px;">
              
            </div>
          </div>
      </form>
    </div>
  </body>
  
