<title>Inicio</title>

<body>
  <div class="form-container">

    <h1>Inicio </h1>

      <div class="grid-container">

      <div class="div-salida">
        <h2 style="color: gray;">Generar Autorizacion de salida</h2>
        <button (click)="salidaRoute()" class="mat-button" mat-raised-button>Generar</button>
      </div>

      <div> </div>

      <div class="div-incidencia">
        <h2 style="color: gray;">Generar Incidencia</h2>
        <button (click)="incidenciaRoute()" class="mat-button" mat-raised-button>Generar</button>
      </div>

      </div>

    <br>
    <br>

    <!-- Tabla de Autorizaciones-->
    <h2>Autorizaciones de salida | Hoy</h2>




    <br>
    <br> 

    <!-- Tabla de Incidencias-->
    <h2>Incidencias | Hoy</h2>




    
  </div>
</body>