<title>Configuración</title>

<body> 
  <div class="form-container">
    <h2 style="text-align: center;">Editar usuario</h2>
    <form (ngSubmit)="guardarCambios()" #usuarioForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          class="form-control"
          [(ngModel)]="usuario.nombre"
          name="nombre"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="apellidoP">Apellido paterno:</label>
        <input
          type="text"
          id="apellidoP"
          class="form-control"
          [(ngModel)]="usuario.apellidoP"
          name="apellidoP"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="apellidoM">Apellido materno:</label>
        <input
          type="text"
          id="apellidoM"
          class="form-control"
          [(ngModel)]="usuario.apellidoM"
          name="apellidoM"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input
          type="email"
          id="correo"
          class="form-control"
          [(ngModel)]="usuario.correo"
          name="correo"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="contrasenaHash">Contraseña:</label>
        <input
          type="password"
          id="contrasenaHash"
          class="form-control"
          [(ngModel)]="usuario.contrasenaHash"
          name="contrasenaHash"
          required
        />
      </div>
  
      <div style="text-align: center;">
      <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.form.valid"  >
        Guardar cambios
      </button>
    </div>
    </form>
  </div>

</body>

  



