<title>Autorización de salida {{salida?.id}}</title>
<body>
    <div class="form-container" id="salidaPDF">
        <div>
            <h2>Autorización de salida {{salida?.id}}</h2>
          
            <div class="logo-container">
                <img src="/images/logoutrng.png" width="120px">
                <img src="/images/Logo.jpg" width="180px" style="border-radius: 10px;">
            
              </div>
      
            <h3>Estatus: 
                <span class="estatus1" *ngIf="salida?.estatus === 0">En espera</span>
                <span class="estatus2" *ngIf="salida?.estatus === 1">Aceptado</span>
                <span class="estatus3" *ngIf="salida?.estatus === 2">Rechazado</span>
              </h3>
        </div>
        <form>
            <p> </p>
            <label>Nombre del trabajador</label>
            <input type="text" [value]="
            salida?.usuarioNombre + ' ' + 
            salida?.usuarioApellidoP + ' ' + 
            salida?.usuarioApellidoM" disabled>

            <label>Adscripción de trabajo</label>
            <input type="text" [value]="salida?.areaNombre" disabled>
            <label>Categoriá</label>
            <input type="text" [value]="salida?.categoriaNombre" disabled>
            <p> </p>
                <label>Hora de:</label>
            <p> </p>
            <div style="display: flex; gap: 10px;">
             
                <div style="flex: 1; padding: 10px;"> 
                    <label>Entrada</label>
                    <input type="time" [value]="salida?.horaEntrada" disabled>
                </div>  
                 <div style="flex: 1; padding: 10px;">
                    <label>Salida</label>
                    <input type="time" [value]="salida?.horaSalida" disabled>
                </div>
            </div>
            <p> </p>
            <label>Horario de trabajo</label>
            <input type="text" [value]="salida?.horarioTrabajo" disabled>
            <label>Asunto</label>
            <input type="text" [value]="salida?.asunto" disabled>
            <label>Fecha de generacion de la autorización de salida</label>
            <input class="inputT" type="text" [value]="salida?.fecha" disabled>
            <p> </p>
            <div style="display: flex; gap: 10px;">
                <div style="flex: 1; padding: 10px;" class="oculto-para-pdf"> 
                    <div>
                        <button (click)="descargarPDF($event)"> <i class="fa fa-download"></i> Descargar PDF</button>
                    </div>
                </div>
                <div style="flex: 1; padding: 10px;">
                    
                </div>
            </div>
        </form>
    </div>
</body>