<title>Generar incidencia</title>
<body>
    <div class="form-container">
      <h2>Generar incidencia</h2>
      <form (ngSubmit)="submitForm()">

        <p> </p>

        <label>Nombre del trabajador</label>
        <input class="inputName" type="text" [value]="incidencia.usuarioNombre + ' ' + apellidoPUsuario() + ' ' + apellidoMUsuario()" disabled>

        <label>Adscripción de trabajo</label>
        <select [(ngModel)]="incidencia.areaId" name="areaId" required>
          <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
        </select>
  
        <label>Categoría</label>
        <select [(ngModel)]="incidencia.categoriaId" name="categoriaId" required>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
        </select>
        
        <p> </p>
  
        <label>Fecha de movimiento</label>
        <div style="display: flex; gap: 10px;">
          <div style="flex: 1; padding: 10px;">
            <label>Del:</label>
            <input type="date" [(ngModel)]="incidencia.fechaInicio" name="fechaInicio" required>
          </div>
          <div style="flex: 1; padding: 10px;">
            <label>Al:</label>
            <input type="date" [(ngModel)]="incidencia.fechaFin" name="fechaFin" required>
          </div>
        </div>

        <p> </p>
  
        <label>Motivo / se autoriza a:</label>
        <select [(ngModel)]="incidencia.motivoId" name="motivoId" required required (change)="onMotivoChange()">
          <option *ngFor="let motivo of motivos" [value]="motivo.id">{{ motivo.nombre }}</option>
        </select>
  
        <label>Descripción</label>
        <input type="text" [(ngModel)]="incidencia.descripcion" name="descripcion" required>
  
        <label>Fecha</label>
        <input class="inputT" type="text" [(ngModel)]="fechaHoy" name="fecha" disabled>
  
        

        <div style="display: flex; gap: 10px;">
          <div style="flex: 1; padding: 10px;">
            <button 
            type="button" 
            class="button-generar" 
            (click)="submitForm()"
            [disabled]="habilitarArchivo && !incidencia.archivo"
            [ngClass]="{'boton-deshabilitado': habilitarArchivo && !incidencia.archivo}"
            
          > <i class="fas fa-check-circle"></i>
            Generar
          </button>            
          </div>
          <div  style="flex: 1; padding: 10px;">
            <div class="file-upload-wrapper">
              <label 
              class="custom-file-upload"
              [class.disabled]="!habilitarArchivo">
              
                <input 
                  type="file" 
                  (change)="subirReceta($event)" 
                  [disabled]="!habilitarArchivo"
                >
                Seleccionar archivo
              </label>
            
              <div *ngIf="incidencia.archivo" class="archivo-cargado">
                <span>{{ incidencia.archivo.name }}</span>
                <button type="button" (click)="quitarArchivo()" class="btn-quitar">✖</button>
              </div>
            </div>
            
          </div>  
        </div>

      </form>
    </div>
  </body>