
@if (estaAutorizado() && tipoUsuario()=='admin')
{
<app-toolbar ></app-toolbar>  
<app-menu
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
  ></app-menu>

  <app-main
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    [screenWidth]="screenWidth()"
  ></app-main>
}

@else if (estaAutorizado() && tipoUsuario()=='user')
{

  <app-toolbar-user ></app-toolbar-user> 
  
  <app-menu-user 
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" 
  > </app-menu-user>

  <app-main
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      [screenWidth]="screenWidth()"
></app-main>
}

@else if (estaAutorizado() && tipoUsuario()=='director')
{

  <app-toolbar-director ></app-toolbar-director> 
  
  <app-menu-director 
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" 
  > </app-menu-director>

  <app-main
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      [screenWidth]="screenWidth()"
></app-main>
}

@else {
  <app-login> </app-login>
}
