
@if (estaAutorizado() && tipoUsuario()=='admin')
{
  <app-toolbar></app-toolbar>

  <app-menu
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
  ></app-menu>

  <app-main
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    [screenWidth]="screenWidth()"
  ></app-main>
}

@else if (estaAutorizado() && tipoUsuario()=='user')
{

  <app-toolbar></app-toolbar>
  
  <app-menu-user 
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" 
  > </app-menu-user>

  <app-main
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      [screenWidth]="screenWidth()"
></app-main>
}

@else {
  <app-login> </app-login>
}

  <!-- Login para hacer pruebas conAdmin

    <app-toolbar></app-toolbar>

  <app-menu
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
  ></app-menu>

  <app-main
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    [screenWidth]="screenWidth()"
  ></app-main>
   
  -->

  
<!-- Login para hacer pruebas con Usuario

    <app-toolbar></app-toolbar>
  
  <app-menu-user 
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" 
  > </app-menu-user>

  <app-main
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      [screenWidth]="screenWidth()"
></app-main>

-->



<!--  Login Definitivo


-->


