<title>Inicio - Admin</title>

<body>
  <div class="form-container">
    <div class="logo-container">
    <img src="/images/logoutrng.png" width="120px">
    <img src="/images/Logo.jpg" width="180px" style="border-radius: 10px;">

  </div>
  <h1>Inicio - Administrador</h1>
      <div class="grid-container">
            <div class="div-incidencia">
           
              <h2 style="color: gray;">Generar Incidencia</h2>
              <button (click)="incidenciaRoute()" class="mat-button" mat-raised-button>Generar</button>
            </div>
            <div></div>
          <div class="div-salida">
            <h2 style="color: gray;">Generar Autorización de salida</h2>
            <button (click)="salidaRoute()" class="mat-button" mat-raised-button>Generar</button>
          </div>
      </div>
      <p> </p>

    <!-- Tabla de Autorizaciones-->
    <h2>Autorizaciones de salida | Hoy</h2>

    <app-tabla-salidas-hoy> </app-tabla-salidas-hoy>

    <p> </p>

    <!-- Tabla de Incidencias-->
    <h2>Incidencias del día | Hoy</h2>

    <app-tabla-incidencia-hoy> </app-tabla-incidencia-hoy>
    <p> </p>
    <!-- Footer-->
     <app-footer> </app-footer>
  </div>
</body>

