
/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* Contenedor Principal */
.container {
    max-width: 1200px;
    margin: auto;
}

/* Cards */
.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Encabezado */
h2 {
    color: #343a40;
    text-align: center;
}

/* Estilos de la Tabla */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background: lightseagreen;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #d8e3f5;
}

/* Botones de enlaces */
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
    
/* --------------------- */ 

 
  
  .button_slide {
    color: black;
    border: 1px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 10px 30px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 blue;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  

  
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px greenyellow;
  }
  
  
  .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
  }
  