<body>
    <div class="form-container">
        <div> 
            <h2>Generar Autorización de Salida</h2>
        </div>
        <form (ngSubmit)="submitForm()">
            <p> </p>
            <label>Nombre del Trabajador</label>
        <input class="inputName" type="text" 
        [value]="salida.usuarioNombre + ' ' + apellidoPUsuario() + ' ' + apellidoMUsuario()" disabled>

        <label>Área de Trabajo</label>
        <select [(ngModel)]="salida.areaId" name="areaId" required>
          <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
        </select>

        <label>Categoría</label>
        <select [(ngModel)]="salida.categoriaId" name="categoriaId" required>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
        </select>
            <p> </p>
                <label>Hora de:</label>
            <p> </p>
            <div style="display: flex; gap: 10px;">
                <div style="flex: 1; padding: 10px;"> 
                    <label>Entrada</label>
                    <input type="time" [(ngModel)]="salida.horaEntrada" name="horaEntrada" required>
                </div>
                <div style="flex: 1; padding: 10px;">
                    <label>Salida</label>
                    <input type="time" [(ngModel)]="salida.horaSalida" name="horaSalida" required>
                </div>
            </div>
            <p> </p>
            <label>Horario de Trabajo</label>
            <input type="text" [(ngModel)]="salida.horarioTrabajo" name="horarioTrabajo" required>
            <label>Asunto</label>
            <input type="text" [(ngModel)]="salida.asunto" name="asunto" required>
            <label>Fecha</label>
            <input class="inputT" type="text" [(ngModel)]="fechaHoy" name="fecha" disabled>
            <p> </p>
            <div style="display: flex; gap: 10px;">
                <div style="flex: 1; padding: 10px;"> 
                    <button type="submit">
                        <i class="fas fa-check-circle"></i>
                        Generar</button>
                </div>
                <div style="flex: 1; padding: 10px;">
                    
                </div>
            </div>
        </form>
    </div>
</body>